name: batch_image_correlation
on:
  workflow_dispatch:
    inputs:
      cloud_cover:
        type: string
        default: '10'
      start_month:
        type: choice
        options: ['1','2','3','4','5','6','7','8','9','10','11','12']
        default: '9'
      stop_month:
        type: choice
        options: ['1','2','3','4','5','6','7','8','9','10','11','12']
        default: '11'
      npairs:
        type: choice
        options: ['3','2','1']
        default: '1'

jobs:
  S2_search:
    runs-on: ubuntu-latest
    outputs:
      MATRIX: ${{ steps.S2_search.outputs.MATRIX_PARAMS_COMBINATIONS }}
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
      - id: S2_search
        shell: bash -el {0}
        run: python s2_search.py ${{ inputs.cloud_cover }} ${{ inputs.start_month }} ${{ inputs.stop_month }} ${{ inputs.npairs }}

  autoRIFT:
    needs: S2_search
    strategy:
      matrix: ${{ fromJson(needs.S2_search.outputs.MATRIX) }}
    uses: ./.github/workflows/image_correlation_pair.yml
    with:
      img1_product_name: ${{ matrix.img1_product_name }}
      img2_product_name: ${{ matrix.img2_product_name }} 
      workflow_name: ${{ matrix.name }}

  summary_statistics:
    needs: [S2_search, autoRIFT]
    uses: ./.github/workflows/summary_statistics.yml
