name: summary_statistics
on:
  workflow_call:

jobs:
  summary_statistics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
      - uses: actions/download-artifact@v4
        with:
          path: .
          merge-multiple: true
      - name: Run Stats
        shell: bash -el {0}
        run: python summary_statistics.py
      - uses: actions/upload-artifact@v4
        with:
          name: final_plots
          path: velocity_summary_statistics.png
